@media (max-width:1499px) {
    .container {
        margin: 0 auto;
        padding: 0 15px;
    }

    .cart__count {
        right: 30px;
    }

    .product-photo__img {
        height: 272px;
    }

    .specifications-wrapper {
        display: flex;
        gap: 40px;
    }

    .specifications-main {
        max-width: 594px;
    }

    .specifications-aside {
        width: 360px;
    }

    .order__btn {
        width: 320px;
    }

    .order__btn.order__btn_active {
        width: 320px;
    }

    .price__like-icon {
        cursor: pointer;
        margin-left: 160px;
    }

    .iframes__iframe {
        width: 360px;
    }

    .comparison-section {
        display: none;
    }

    .review-section {
        max-width: 594px;
    }

    .review-section__separator {
        margin-left: 130px;
    }

    .review__photo {
        width: 100px;
        height: 100px;
    }

    .raiting__img {
        height: 20px;
    }

    .add-review-form {
        box-sizing: border-box;
        max-width: 594px;
        padding-left: 0;
    }

    .add-review-form__name {
        width: 339px;
    }

    .add-review-form__name_error1 {
        width: 361px;
    }

    .add-review-form__name_error2 {
        width: 361px;
    }

    .add-review-form__raiting {
        width: 131px;
    }

    .add-review-form__review {
        width: 552px;
    }

    .footer__content {
        margin-right: 378px;
    }
}