body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    margin:0;
    padding:0;
    font-size:100%;
}

h2 {
    margin:0;
    padding:0;
    font-size:100%;
}

a {
    color: #008CF0;
    text-decoration: none;
}

a:hover {
    color:#F36223;
    cursor: pointer;
}

a:active {
    color:  #A93A09;
}

.btn {
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #888888;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
    background-color: #FFFFFF;    
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    background-color:#F2F2F2;
}

.header {
    display: flex;
    gap: 10px;
    height: 80px;
}

.header__logo {
    padding-top: 20px;
}

.header__text {
    font-size: 44px;
    font-weight: 900;
    margin-top: 19px;
    margin-bottom: 9px;
}

.header__cart {
    cursor: pointer;
    margin-right: 30px;
}

.header__cart:hover path {
    fill: #F36223;
}

.header__cart:active path {
    fill: #A93A09;
}

.cart {
    position: relative;
}

.cart__count {
    display: none;
    position: absolute;
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #EEEEEE;
    border-radius: 50%;
    background-color: #FF5722;
    opacity: 90%;
    left: 25px;
    bottom: 25px;
}

.cart__count.cart__count_active {
    display: block;
    position: absolute;
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #EEEEEE;
    border-radius: 50%;
    background-color: #FF5722;
    opacity: 90%;
    left: 25px;
    bottom: 25px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;
    gap: 4px;
}

.nav__wrapper {
    margin-top: 90px;
    margin-bottom: 8px;
}


.product-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.product-name__text {
    margin: 0;
    padding-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
}

.product-photo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    padding: 0px;
    gap: 10px;;
}

.product-photo__img {
    height: 387px;
}

.specifications-wrapper {
    display: flex;
    gap: 100px;
}

.specifications-main {
    flex-grow: 1;
    max-width: 880px;
}

.phonecolours {
    margin-bottom: 30px;
}

.phonecolours__title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
}

.phonecolours__photos {
    display: flex;
    margin-bottom: 30px;
    padding: 0px;
    gap: 10px;
}

.phonecolours__photos-card {
    display: flex;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border: 1px solid #888888;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}

.phonecolours__photos-card:active {
    border: 2px solid #A93A09;
}

.phonecolours__photos-card_selected {
    border: 2px solid #F36223;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
}

.phonecolours__photos-card:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}

.phonecolours__photos-card_selected:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}

.phonecolours__img {
    height: 60px;
} 

.phonememory {
    margin-bottom: 30px;
}

.phonememory__title {
    font-weight: 700;
    margin-bottom: 15px;
}

.phonememory__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
}

.phonememory__button {
    background-color: #FFFFFF;
}

.phonememory__button:active {
    border: 2px solid #A93A09;
}

.phonememory__button_selected {
    border: 2px solid #F36223;
    background-color: #FFFFFF;
}

.phonememory__button:hover, .phonememory__button_selected:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}

.features {
    margin-bottom: 30px;
}

.features__title {
    margin-bottom: 15px;
    font-weight: 700;
}

.features__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.features__item {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 10px;
}

.marker {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #888888;
}

.features__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description__title {
    font-weight: 700;
}

.description__text p {
        margin: 15px 0px;
}

.description__text {
    margin-bottom: 30px;
}

/* Таблица сравнения моделей*/

.comparison-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
}

.comparison-section__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}


.comparison-section__table {
    display: grid;
    max-width: 880px;
    text-align: center;
    grid-template-columns: [col-start] auto [col-end];
    grid-template-rows: [header-start] auto [header-end row-start] auto [row-end];
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-gap: 1px;
    overflow: hidden;
    background: #ffffff;
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
    border-left:  1px solid #888888;
}

.table .table__row, .table .table__heading{
    padding: 10px;
    position: relative;
    border-right: 1px solid #888888;
}


.table__heading {
    border-bottom: 1px solid #888888;
    grid-row: header;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.row span {
    position: relative;
    z-index: 2;
}

.rowWrapper{
    display: contents;
}

.rowWrapper:hover > div{
    background-color: #F2F2F2;
}


/*----------------------------------------------------------*/



.specifications-aside {
    width: 420px;
}

.important {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #EEEEEE;
    border-radius: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.price {
    padding-top: 20px;
    padding-left: 20px;
}

.price__old-price {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.old-price__value {
    color: #888888;
    font-weight: 500;
}

.old-price__discount {
    color: #FFFFFF;
    font-weight: 500;
    background-color: #F36223;
    padding: 4px 8px;
    border-radius: 30px;
}

.price__like-icon {
    cursor: pointer;
    margin-left: 220px;
}

.price__like-icon:hover path {
    fill: #F36223;
}

.price__like-icon:active path {
    fill: #A93A09;
}


.price__new-price {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 15px;
}

.delivery {
    margin-left: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.order__btn {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 64px;
    margin: 20px;
    background-color: #F36223;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.order__btn.order__btn_active {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 64px;
    margin: 20px;
    background-color: #888888;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.order__btn.order__btn_active:hover {
    background-color: #888888;
}

.order__btn::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../img/cart.svg);
    background-repeat: no-repeat;
    background-position: center center;
}



.order__btn:hover {
    background-color: #DA4A0C;
    cursor: pointer;
    transition: 0.5s ease;
}

.order__btn:active {
    background-color:  #A93A09;
}

.ads-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.ads-area__title {
    color: #888888;
    font-size: 14px;
    font-weight: 400;
}

.ads-area__iframes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
}

/*Отзывы*/

.review-section {
    max-width: 880px;
    display: flex;
    flex-direction: column;
}

.review-section__header {
    display: flex;
    align-items: center;
    gap: 571px;
    margin-bottom: 25px;
}

.review-section__wrapper {
    display: flex;
    gap: 10px;
}

.review-section__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
}

.review-section__count {
    font-weight: 700;
    font-size: 24px;
    color: #888888
}

.review-section__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
    
.review {
    display: flex;
}

.review__photo {
    width: 140px;
    height: 140px;
    margin-right: 30px;
}

.review__author {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

.review__raiting {
    margin-bottom: 20px;
}

.review__text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}

.review-section__separator {
    border-top: 1px dashed #888888;
    margin-left: 170px;
}



/*Iframes*/

.iframes__iframe {
    width: 420px;
    height: 300px;
    border: 1px dashed #ccc;
}


/*Form*/

.add-review-form {
    box-sizing: border-box;
    max-width: 880px;
    padding-left: 170px;
}

.add-review-form__heading {
    font-weight: 700;
    font-size: 16px;
    margin-top: 57px;
    margin-bottom: 15px;
}

.add-review-form__line {
    display: flex;
    gap: 40px;
}

.add-review-form__name {
    width: 453px;
    padding: 15px 20px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #888888;
}

.add-review-form__name_error1 {
    width: 475px;
    margin-top: 0;
    padding-left: 20px;
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    color: #FFFFFF;
    background-color: #DA4A0C;
}

.add-review-form__name_error2 {
    width: 475px;
    margin-top: 0;
    padding-left: 20px;
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    color: #FFFFFF;
    background-color: #DA4A0C;
}

.add-review-form__raiting {
    width: 133px;
    padding: 15px 20px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #888888;
}

.add-review-form__raiting_error {
    font-size: 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    color: #FFFFFF;
    background-color: #DA4A0C;
}

.add-review-form__review {
    margin-top: 30px;
    width: 668px;
    height: 160px;
    resize: none;
    margin-bottom: 30px;
    padding: 15px 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #888888;
}

.add-review-form__name:hover, 
.add-review-form__raiting:hover,
.add-review-form__review:hover {
    border: 1px solid black;
}

.add-review-form__btn {
    margin-bottom: 103px;
    padding: 10px 20px;
    color: #FFFFFF;
    background-color: #F36223;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.add-review-form__btn:hover {
    background-color: #DA4A0C;
    cursor: pointer;
    transition: 0.5s ease;
}

.add-review-form__btn:active {
    background-color:  #A93A09;
}



/*Footer*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 30px 50px;
    max-width: 1500px; 
    background-color: #F2F2F2;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;    
}
